.App {
    width: 1440px;
}

.App-logo {
    position: absolute;
    width: 275px;
    height: 72px;
    left: 170px;
    top: 158px;
    pointer-events: none;
}

.App-header {
    position: absolute;
    width: inherit;
    height: 521px;
    background: #003366;
    font-size: calc(10px + 2vmin);
}

.Header-text {
    position: absolute;
    width: 100vw;
    height: 171px;
    left: 170px;
    top: 258px;
    text-align: left;

    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.App-body {
    background: #E5E5E5;
    width: inherit;
}

.Body-header {
    position: absolute;
    width: 1127px;
    height: 210px;
    left: 161px;
    top: 681px;

    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: #333333;
}

.Body-text {
    position: absolute;
    width: 1127px;
    height: 210px;
    left: 161px;
    top: 781px;

    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: #333333;
}

.App-footer {
    position: absolute;
    width: inherit;
    height: 125px;
    left: 0px;
    top: 1636px;
    background-color: #003366;
}

.Footer-text {
    position: absolute;
    width: 161px;
    height: 21px;
    left: 161px;
    top: 55px;

    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #00FFFF;
}

.Footer-twitter {
    position: absolute;
    width: 49px;
    height: 49px;
    left: 1066px;
    top: 40px;
}

.Footer-linkedin {
    position: absolute;
    width: 50px;
    height: 49px;
    left: 1146px;
    top: 40px;
}

.Footer-email {
    position: absolute;
    width: 49px;
    height: 49px;
    left: 1227px;
    top: 40px;
}

.meet-us {
    position: absolute;
    width: 150px;
    height: 30px;
    left: 195px;
    top: 1442px;

    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: #003366;
}

.email-button {
    position: absolute;
    width: 348px;
    height: 69px;
    left: 161px;
    top: 1482px;
    background: #003366;
    border-radius: 40px;
}

.email-button-text {
    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

