.Jason {
    position: absolute;
    width: 139px;
    height: 140px;
    left: 161px;
    top: 967px;

}

.Jason-text {
    position: absolute;
    width: 140px;
    height: 63px;
    left: 161px;
    top: 1115px;

    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
}

.David {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 322px;
    top: 967px;
}

.David-text {
    position: absolute;
    width: 127px;
    height: 84px;
    left: 322px;
    top: 1115px;

    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
}


.Steven {
    position: absolute;
    width: 141px;
    height: 140px;
    left: 485px;
    top: 967px;
}

.Steven-text {
    position: absolute;
    width: 139px;
    height: 63px;
    left: 485px;
    top: 1115px;

    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
}

.Zoey {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 646px;
    top: 967px;
}

.Zoey-text {
    position: absolute;
    width: 126px;
    height: 63px;
    left: 646px;
    top: 1115px;

    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
}

.Dylan {
    position: absolute;
    width: 139px;
    height: 140px;
    left: 812px;
    top: 967px;
}

.Dylan-text {
    position: absolute;
    width: 112px;
    height: 63px;
    left: 812px;
    top: 1115px;

    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
}

.Madisen {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 974px;
    top: 967px;
}

.Madisen-text {
    position: absolute;
    width: 83px;
    height: 63px;
    left: 972px;
    top: 1115px;

    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
}

.Danielle {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 1136px;
    top: 967px;
}

.Danielle-text {
    position: absolute;
    width: 140px;
    height: 42px;
    left: 1136px;
    top: 1115px;

    font-family: Work Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.015em;
    color: #000000;
}